# vi: set filetype=yaml :
---
west:
  system:
    driver: westpa.core.systems.WESTSystem
    system_options:
      pcoord_ndim: 2
      pcoord_len: 11
      pcoord_dtype: !!python/name:numpy.float32
      bins:
          type: MABBinMapper
          nbins: [9, 9]
          direction: [-1, -1]
          mab_log: true
      bin_target_counts: 6

  target_states:
    - label: close_interface
      pcoord:
        - [0.0, 6.0]
        - [-9999.0, -30.0]

  propagation:
    max_total_iterations: 1000
    max_run_wallclock:    48:00:00
    propagator:           propagators.openmm_implicit_propagator.OpenMMImplicitPropagator
    gen_istates:          false
    block_size:           1

  data:
    west_data_file: $WEST_SIM_ROOT/west.h5
    datasets:
      - name:        pcoord
    data_refs:
      segment:       $WEST_SIM_ROOT/traj_segs/{segment.n_iter:06d}/{segment.seg_id:06d}
      basis_state:   $WEST_SIM_ROOT/bstates/{basis_state.auxref}
      initial_state: $WEST_SIM_ROOT/istates/{initial_state.iter_created}/{initial_state.state_id}.xml

  openmm:
    cgschnet_path: /home/alex/code/cgschnet/cgschnet/scripts
    topology_path: /home/alex/data/pd1/3BIK_random1Filtered.pdb
    num_gpus: 2
    gpu_precision: mixed
    forcefield:
      - amber14-all.xml
      - implicit/gbn2.xml
    temperature: 300.0      # K
    timestep: 4.0           # fs
    friction: 1.0           # 1/ps
    pressure: 1.0           # atm
    barostatInterval: 25
    constraintTolerance: 1e-6
    hydrogenMass: 1.5       # amu
    implicit_solvent: true
    steps: 1000
    save_steps: 100

    pcoord_calculator:
      class: computation.interface_contact_computation.InterfaceContactComputation
      topology_path: /home/alex/data/pd1/3BIK_random1Filtered.pdb
      selection_a: "chainid 0"
      selection_b: "chainid 1"
      mode: distance_and_contacts
      k: 10
      contact_cutoff_angstrom: 6.0
      soft_n: 6.0
      exclude_hydrogens: true

    recorded_calculators:
      - name:        rmsd_ca
        storage:     both
        granularity: per_frame
        computation:
          class:              computation.rmsd_computation.RMSDComputation
          reference_pdb_path: /home/alex/data/pd1/3BIKFiltered.pdb
          atom_selection:     name CA
      
      - name: interface_distance
        storage: both
        granularity: per_frame
        computation:
          class: computation.interface_contact_computation.InterfaceContactComputation
          topology_path: /home/alex/data/pd1/3BIK_random1Filtered.pdb
          selection_a: "chainid 0"
          selection_b: "chainid 1"
          mode: mean_k_min_distance
          k: 10
          exclude_hydrogens: true

      - name: interface_contacts
        storage: both
        granularity: per_frame
        computation:
          class: computation.interface_contact_computation.InterfaceContactComputation
          topology_path: /home/alex/data/pd1/3BIK_random1Filtered.pdb
          selection_a: "chainid 0"
          selection_b: "chainid 1"
          mode: soft_contact_count
          contact_cutoff_angstrom: 6.0
          soft_n: 6.0
          exclude_hydrogens: true

      - name: energy
        storage: both
        granularity: per_frame
        computation:
          class: computation.openmm_energy_computation.OpenMMEnergyComputation
          components: [energy_u]
